.section {
  &__caruselGeneral {
    display: flex;
    width: 330px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
    }

    &::before {
      content: "";
      width: 330px;
      height: 200px;
      position: absolute;
      z-index: 1;
      background-image: linear-gradient(to top, black, 10%, rgba(0, 0, 0, 0.692), 50%, transparent);
    }

    & p {
      display: none;
    }
  }

  &__caruselFondo {
    margin-bottom: 85px;
  }

  // &__contenidoSliders{
  //   background-color: orange;
  //   position: absolute;
  //   z-index: 100;
  // }
}

.legend{
  width: 330px;
  height: 30px;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate(0px, -130px);
  background-color: transparent !important;
  font-size: 16px !important;
  text-align: left !important;
  position: absolute !important;
  z-index: 200;

  & h1 {
    width: 150px;
  }
}