@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Climate+Crisis&family=Geologica&family=Konkhmer+Sleokchher&family=Lato:wght@900&family=Poppins:ital,wght@0,700;1,400&family=Public+Sans:ital,wght@0,100;1,500&display=swap');

/*  COLORS */
$colorPink: #fdf0ee;
$colorOrange: #ff7100;
$colorFucsia: #F61D54;
$colorWhite: white; 
$colorBlack: rgb(25, 25, 25);
$colorGrey: #808080;
$hoverWhite: white; 
$hoverFucsia: #F61D54;
$hoverGray:  #808080;
$borderWhite: white;
$borderFucsia: #F61D54;


/*  FOONTS */

$title: 'Konkhmer Sleokchher', cursive;
$fontText: 'Geologica', sans-serif;

/* WIDTH */

$widthS: 3.5rem;
$widthM: 6.5rem;
$widthL: 14rem;
$widthXl: 21.5rem;
$widthAAuto: auto;


