.section {

    &__layoutHome {
        // margin-top: 130px;
        background-color: orange;
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__usuarioIngresado {
        width: 100%;
        height: auto;
        background-color: #FDF0EE;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    &__imageUsuario {
        background-image: url(../assets/cris.jpg);
        width: 50px;
        height: 50px;
        background-size: cover;
        border-radius: 100px;
        border: transparent;
    }

    &__navegacion {
        position: absolute;
        z-index: 50;
        transform: translateY(-35px);
        width: 380px;
        height: 50px;
        background-image: url(../assets/baseNavegacion.png);
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    }

    &__enlacesHome a {
        font-weight: 200;
        filter: invert(52%) sepia(35%) saturate(0%) hue-rotate(133deg) brightness(94%) contrast(95%);
        display: flex;
        justify-content: space-between;
        gap: 10px;
        color: rgb(0, 0, 0);
        transition: 0.5s;

        &:hover {
            filter: invert(22%) sepia(76%) saturate(4342%) hue-rotate(333deg) brightness(97%) contrast(98%);

        }
    }

    &__enlacesHome--seleccionados img{
            filter: invert(22%) sepia(76%) saturate(4342%) hue-rotate(333deg) brightness(97%) contrast(98%);
    }

    &__navegacion--svg {
        width: 20px;
        filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(267deg) brightness(101%) contrast(104%);
    }

    &__carrito {
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        position: absolute;
        z-index: 2;
        transform: translate(155px, -30px);
        box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.651);

        & img{
            filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(267deg) brightness(101%) contrast(104%);
        }
    }
}